.card {
  transition: .4s;
  position: relative;
  animation: fadeIn 0.8s ease-in-out;
  -webkit-animation: fadeIn 0.8s ease-in-out;
}

.card__img {
  width: 100%;
  height: auto;
  background-color: blueviolet;
}

.card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
}
  to {
    opacity: 1;
  }
}